{
    "openpgp": {
        "gnupg_home" : "/etc/intelmq/mailgen/gnupghome",
        "always_sign" : true,
        "signing_key" : "5F503EFAC8C89323D54C252591B8CD7E15925678"
    },
    "database": {
        "event": {
            "name": "intelmq-events",
            "username": "intelmq_mailgen",
            "password": "your DB password",
            "host": "localhost",
            "port": 5432
        }
    },
    "template_dir": "/etc/intelmq/mailgen/templates",
    "script_directory": "/etc/intelmq/mailgen/formats",
    "sender": "noreply@example.com",
    "smtp": {
        "host": "localhost",
        "port": 25
    },
    "logging_level": "INFO"
}
