{
    "openpgp": {
	"gnupg_home" : "/usr/local/lib/intelmq/event-processor/dot.gnupg",
	"always_sign" : true,
	"signing_key" : "5F50 3EFA C8C8 9323 D54C  2525 91B8 CD7E 1592 5678"
    },
    "database": {
	"event": {
	    "name": "intelmq-events",
	    "username": "intelmq_mailgen",
	    "password": "your DB password",
	    "host": "localhost",
	    "port": 5432
	}
    },
    "template_dir": "/usr/local/lib/intelmq/event-processor/templates",
    "sender": "noreply@example.com",
    "smtp": {
	"host": "localhost",
	"port": 25
    }
}
