Source: intelmq-mailgen
Maintainer: Sascha Wilde <wilde@intevation.de>
Section: net
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9), python3-psycopg2
Standards-Version: 3.9.5.0

Package: intelmq-mailgen
Architecture: all
Depends: ${misc:Depends}, python3-psycopg2, python3 (>=3.6),
 gnupg (>2.2), python3-gpg
Recommends: pinentry-curses, python3-pyxarf (>= 0.0.5)
Breaks: intelmq (<< 1.0.0~dev6+intevation.1.2~rc1)
Description: Generate and send emails using data from the IntelMQ ContactDB.
 .
 The tool processes events written to the PostgreSQL database and send
 email notifications based on data from the IntelMQ Contacts Database.
