#!/bin/sh
set -e

# Source debconf library.
. /usr/share/debconf/confmodule

DEFAULT_CONF_FILE="/etc/intelmq/intelmq-mailgen.conf"
if [ "$1" = "reconfigure" ] && [ -f "$DEFAULT_CONF_FILE" ]; then
  db_input critical intelmq-mailgen/reconfigure-warning
  cp -a "$DEFAULT_CONF_FILE" "${DEFAULT_CONF_FILE}.dpkg-old"
fi

# Mail settings
db_input high intelmq-mailgen/mailsender || true

db_input high intelmq-mailgen/mailhost || true
db_input high intelmq-mailgen/mailport || true

# DB settings
db_input high intelmq-mailgen/dbname || true
db_input high intelmq-mailgen/dbuser || true
db_input high intelmq-mailgen/dbpass || true # TODO: don't ask during reconfigure?
db_input high intelmq-mailgen/dbhost || true
db_input high intelmq-mailgen/dbport || true

# Template dir
db_input medium intelmq-mailgen/templatedir || true

# OpenPGP
db_input high intelmq-mailgen/openpgp-alwayssign || true
db_go || true
db_get intelmq-mailgen/openpgp-alwayssign
if [ "$RET" = "true" ]; then
  db_input high intelmq-mailgen/openpgp-gnupghome || true
  db_input high intelmq-mailgen/openpgp-signingkey || true
fi

db_go || true
