#!/usr/bin/make -f

export PYBUILD_NAME=intelmqmail
%:
	dh $@ --with python3 --without python2 --buildsystem=pybuild

override_dh_gencontrol:
	dh_gencontrol -p intelmq-mailgen
	dh_gencontrol -p intelmq-db-api \
          -u-v`sed -n "s/[[:space:]]*version.*'\([^']*\)'.*/\1/p" \
	  extras/contactdb_api/setup.py`

override_dh_auto_configure:
	dh_auto_configure -p intelmq-mailgen
	dh_auto_configure --sourcedirectory=extras/contactdb_api \
	  -p intelmq-db-api

override_dh_auto_build:
	dh_auto_build -p intelmq-mailgen
	dh_auto_build --sourcedirectory=extras/contactdb_api \
	  -p intelmq-db-api

override_dh_install:
	dh_install
	dh_installexamples
	mkdir -p debian/intelmq-mailgen/etc/intelmq/mailgen/templates
	sed 's@/usr/local/lib/intelmq@/usr/lib/intelmq@' \
          debian/intelmq-mailgen/usr/share/doc/intelmq-mailgen/examples/intelmq-mailgen.conf.example \
          > debian/intelmq-mailgen/etc/intelmq/intelmq-mailgen.conf
	# Fix paths for Debian
	mkdir -p debian/intelmq-mailgen/usr/share/doc/intelmq-mailgen
	sed 's@src/\(intelmq-mailgen/tests/keys/test1.sec\)@/usr/share/\1@; s@sql/notifications.sql@/usr/share/intelmq-mailgen/sql/notifications.sql@; s@intelmq-mailgen.conf.example@/usr/share/doc/intelmq-mailgen/examples/intelmq-mailgen.conf.example@' \
		README.md \
		> debian/intelmq-mailgen/usr/share/doc/intelmq-mailgen/README.md

# Without forcing the correct --install-lib path here, files would get
# installed into /usr/lib/python3.4/site-packages.
override_dh_auto_install:
	python3 setup.py install --root=debian/intelmq-mailgen \
		--prefix=/usr --install-lib=/usr/lib/python3/dist-packages
	cd extras/contactdb_api && \
	python3 setup.py install --root=../../debian/intelmq-db-api \
		--prefix=/usr --install-lib=/usr/lib/python3/dist-packages

# vim :set noet sts=0 sw=2 ts=2:
