#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	dh_install
	dh_installexamples
	mkdir -p debian/intelmq-mailgen/etc/intelmq/mailgen/templates
	# Fix paths for Debian
	mkdir -p debian/intelmq-mailgen/usr/share/doc/intelmq-mailgen
	sed 's@src/\(intelmq-mailgen/tests/keys/test1.sec\)@/usr/share/\1@; s@sql/notifications.sql@/usr/share/intelmq-mailgen/sql/notifications.sql@; s@intelmq-mailgen.conf.example@/usr/share/doc/intelmq-mailgen/examples/intelmq-mailgen.conf.example@' \
		README.md \
		> debian/intelmq-mailgen/usr/share/doc/intelmq-mailgen/README.md
